@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 34, 82;
  --background-start-rgb: 28, 34, 82;
  --background-end-rgb: 85, 58, 95;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 28, 34, 82;
    --background-start-rgb: 28, 34, 82;
    --background-end-rgb: 85, 58, 95;
  }
}

body,
html {
  min-height: 100vh;
}

html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
