@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 34, 82;
  --background-start-rgb: 28, 34, 82;
  --background-middle-rgb: 111, 52, 107;
  --background-end-rgb: 183, 76, 110;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 28, 34, 82;
    --background-start-rgb: 28, 34, 82;
    --background-middle-rgb: 111, 52, 107;
    --background-end-rgb: 183, 76, 110;
  }
}

body,
html {
  min-height: 100vh;
}

html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)) 40%,
    rgb(var(--background-middle-rgb)),
    rgb(var(--background-end-rgb))
  );
}
